<html ng-app="ionicApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>后台管理</title>
        <link href="https://cdn.bootcss.com/ionic/1.3.2/css/ionic.css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/ionic/1.3.2/js/ionic.bundle.min.js"></script>
    </head>
    <body>
    
    <div class="bar bar-header">
      <div class="h1 title">任务列表</div>
    </div>
    
    <div class="content has-header ionic-pseudo">

      <div class="list">

    
{%for i in list%}
        <a class="item item-icon-left item-icon-right" href="#" ng-click="showPopup()">
          <i class="icon ion-informaticon ion-circled"></i>
          {{i['name']}}
          <i class="icon ion-compose"></i>
        </a>
{%end%}


      </div>

    </div>

  </body>
</html>